.newPlantForm {
  width: 400px;
  padding: 1.5rem;
  margin: 1rem;
  text-align: left;
  display: table;
}

.newPlantDetail {
  display: table-row;
}

.newPlantDetail button {
  display: table-cell;
  margin: 1rem 0rem;
}

label,
input {
  display: table-cell;
  margin-bottom: 1rem;
}
