header {
    width: 100%;
    background-color: darkolivegreen;
    font-family: Gill Sans, sans-serif;
    border-bottom: 10px solid;
    border-bottom-color: rgb(246, 216, 177);
}

.heading {
    margin: 0px;
    text-align: center;
    padding: 30px;
    color: antiquewhite
}