header {
    width: 100%;
    background-color: darkolivegreen;
    font-family: Gill Sans, sans-serif;

}

.heading {
    margin: 0px;
    text-align: center;
    padding: 30px;
    color: antiquewhite
}