.navMenu {
  background-color: rgb(246, 216, 177);
}

.linkList {
  display: flex;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.linkList a {
  text-decoration: none;
  color: inherit;
}
