.plant {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  margin: 5px;
  padding: 30px 10px;
  width: 200px;
  text-align: center;
  background-color: rgb(246, 234, 218);
  list-style: none;
}

.plant a {
  text-decoration: none;
  color: inherit
}

.plant:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.plantImage {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(246, 216, 177);
  border-radius: 5px;
}

.plant-type {
  font-style: bold;
}
